<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/index.js"></script>

    <title>Hello, world!</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <span>Hello, World</span>
            </div>
            <div class="">

            </div>
        </nav>
    </header>
    <section>
        <h1>Hello, World</h1>
        <b>I work is framework Glot</b>
    </section>
    <section>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis augue a nisl malesuada ultrices sit amet id mi. Nulla pellentesque magna a metus feugiat, quis interdum nibh consectetur. Praesent vulputate augue non quam varius tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas luctus scelerisque. Sed lacus lacus, blandit et eros in, dignissim condimentum libero. Curabitur accumsan ipsum eget velit tempus eleifend. Pellentesque vitae egestas quam. Fusce volutpat, orci vel molestie dapibus, risus dui aliquet felis, vitae porta massa sem non enim. Nam facilisis quam sem. Nulla eget risus pretium, egestas metus sit amet, varius risus. Morbi quis odio feugiat neque malesuada dignissim. Proin lacus mi, imperdiet non massa ut, lobortis efficitur metus. Mauris viverra interdum lacinia. Aliquam erat volutpat.
    </section>
    <section>
        <b>List</b>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    </section>
    <section>
        {{time}}
    </section>
    <footer>
        <div>test</div>
    </footer>
</body>
</html>
